.button {
  all: unset;
  border: 1px solid var(--color-black);
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--secondary-bg-color);
}

.indexedButton {
  border: none;
}
