.modalContainer {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 33vw;
}

.modalWrapper {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 5fr;
  gap: 2rem;
  padding: 2rem;
  background: #fff;
  border: 1px solid var(--color-black);
  border-radius: 1rem;
}

.modalWrapper img {
  width: 6rem;
  height: 6rem;
}

.closeButton {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 1rem;
  height: 1rem;
  opacity: 0.3;
  cursor: pointer;
}

.closeButton:hover {
  opacity: 1;
}

.closeButton:before,
.closeButton:after {
  position: absolute;
  content: " ";
  height: 1rem;
  width: 2px;
  background-color: var(--color-black);
}

.closeButton:before {
  transform: rotate(45deg);
}
.closeButton:after {
  transform: rotate(-45deg);
}

.open {
  display: block;
}

.close {
  display: none;
}

@media screen and (max-width: 1200px) {
  .modalContainer {
    width: 50vw;
  }
}

@media screen and (max-width: 768px) {
  .modalContainer {
    width: 80vw;
  }
  .modalWrapper {
    grid-template-columns: 1fr;
  }
}
