.headerWrapper {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
  border-bottom: 1px solid var(--color-black);
}

.headerTitleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.headerDescriptionWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

@media only screen and (max-width: 600px) {
  .headerWrapper {
    padding: 1rem 2rem;
    flex-direction: column;
  }
}
