.tableWrapper {
  text-align: center;
}

.tableCountParagraph {
  text-align: left;
}

.table {
  border-collapse: collapse;
  border: none;
  width: 100%;
}

.tableRowHeader {
  background-color: transparent;
  transition: all 0.25s ease;
}

.tableHeader {
  background-color: #f1f1f1;
  padding: 12px;
  font-weight: 500;
  text-align: left;
  font-size: 14px;
  color: #2c3e50;
}

.tableHeaderInner {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.tableHeaderButtonWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.tableHeaderButton {
  all: unset;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.tableHeaderButtonUp {
  border-bottom: 8px solid black;
}

.tableHeaderButtonDown {
  border-top: 8px solid black;
}

.tableHeader:first-child {
  border-top-left-radius: 15px;
}

.tableHeader:last-child {
  border-top-right-radius: 15px;
}

.tableRowItems {
  cursor: auto;
  padding: 2rem 0;
  border-bottom: 1px solid var(--color-black);
}

.tableRowItems:hover {
  cursor: pointer;
  color: var(--color-white);
  background: var(--dark-bg-color);
}

.tableCell {
  padding: 1rem;
  font-size: 14px;
  box-shadow: 0 2px 0 rgb(0 0 0 / 0.2);
}

.highlighted {
  background: var(--dark-bg-color);
  color: var(--color-white);
}

.tableCellName {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.tableCellName img {
  width: 4rem;
  height: 4rem;
}

@media only screen and (max-width: 600px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  .tableCell {
    box-shadow: none;
    text-align: left;
  }
}
