:root {
  --color-black: #000;
  --color-white: #fff;

  --primary-bg-color: #f2f2f2;
  --secondary-bg-color: #f9f9f9;
  --dark-bg-color: rgb(126, 126, 126);
}

.App {
  color: var(--color-black);
}

.bodyWrapper {
  padding: 4rem;
}

.layout {
  position: fixed;
  background-color: #f2f2f2;
  opacity: 0.3;
  filter: blur(1rem);
  width: 100vw;
  height: 100vh;
}

@media only screen and (max-width: 600px) {
  .bodyWrapper {
    padding: 2rem;
  }
}
